/**************************************
		MAIN STYLES -- MOBILE
**************************************/

.self-intro,
.drawing,
header,
#contact-container {
	background-color: #f3f3f3;
}
.nav,
#main-header {
	display: flex;
	flex-direction: column;
}
#jc {
	text-align: center;
	margin: 0 auto;
	padding-top: 1em;
}
.nav a {
	text-align: center;
	margin-top: 2em;
	border-bottom: 1px solid #ddd;
	text-decoration: none;
	color: grey;
	display: block;
}
.nav a:hover {
	color: #0abab5;
	border-bottom-color: #0abab5;
	transition: 0.7s;
}
.drawing { 
    max-height: 350px;
    max-width: 350px;
	display: block;
    padding: 1em;
    margin: 0 auto;
}
.intro,
.port {
	text-align: center;
	display: block;
}
.intro {
	padding-bottom: 1em;
	padding: 20px 50px 30px 50px;
}
.port {
	font-size: 1.5em;
	font-weight: 700;
}
.projects img {
	max-height: 95%;
	max-width: 95%;
	display: block;
	margin: 0 auto;
	padding: 5px;	
}
.projects h4, .projects p{
	text-align: center;
	padding: 0 20px 0 20px;
}
.projects h4 {
	font-size: 1.145em;
}
#contact-container {
	text-align: center;
	padding: 50px;
}
.contact-info a {
	text-decoration: none;
	color: black;
}
.contact-info a:hover {
	color: #0abab5;
}
#mobile-only {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}
.backtop,
.jun {
	margin: 0;
	padding: 30px 20px 30px 20px; /* footer spacing */
}
.backtop a {
	text-decoration: none;
	color: black;
}
.backtop a:hover{
	color: #0abab5;
}



/****************************************
		NONE MOBILE DISPLAY -- OFF
****************************************/

#none-mobile {
	display: none;
}

/****************************************
				CLEARFIX
****************************************/
	
	
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

/***************************************
				MEDIA QUERY
***************************************/

@media screen and (min-width: 768px) {
	#jc {
		font-size: 50px;
	}
	.nav {
		flex-direction: row;
		justify-content: space-between;
		text-align: center;
		padding: 20px 20% 30px 20%;
	}
	.nav a {
		border-bottom-color: transparent;
	}
	.drawing {
		float: right;
		height: 200px;
		width: 350px;
	}
	.intro {
		margin-top: 0;
		padding: 50px 40px 0 20px;
		text-align: left;
		max-width: 50%;
	}
	.projects li {
		float: left;
		display: block;
		max-width: 50%;
	}
	#none-mobile {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.right,
	.left {
		padding-bottom: 40px;
	}
	.right li {
		float: left;
		padding: 30px 10px 30px 0px; /* footer spacing */
	}
	.right a {
		text-decoration: none;
		color: black;
		margin-left: .65em;
		margin-right: .65em;
	}
	.right a:hover {
		color: #0abab5;
		transition: 0.7s;
	}
	.left {
		margin-right: auto;
	}
	#mobile-only {
		display: none;
	}
}


@media screen and (min-width: 1024px) {
	 #main-header {
		flex-direction: row;
	}
	#jc{
		margin: 0;
		padding-left: 5%;
	}
	.nav {
		margin-left: auto;
		padding: 30px;
	}
	.nav li {
		margin-right: 20px;
	}
	.self-intro {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.intro {
		padding-left: 5%;
	}
	.drawing {
		float: right;
		height: 250px;
		width: 450px;
	}
		.projects li {
		float: left;
		display: block;
		max-width: 33.33%;
	}
	.contact-para {
		text-align: center;
	}
}









